services:
  postgres:
    image: postgres:15
    container_name: medical_warehouse_db
    restart: always
    environment:
      POSTGRES_DB: medical_warehouse
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: